@font-face {
    font-weight: 400;
    font-family: "Yanone Kaffeesatz";
    src: url("../fonts/YanoneKaffeesatz-Regular.ttf") format("truetype");
}

@font-face {
    font-weight: 700;
    font-family: "Yanone Kaffeesatz";
    src: url("../fonts/YanoneKaffeesatz-Bold.ttf") format("truetype");
}

@font-face {
    font-weight: 700;
    font-family: "ClearSans";
    src: url("../fonts/ClearSans-Bold.ttf") format("truetype");
}
